---
title: François Belle
---

<!-- PROFILE -->
<div class="card shadow mx-auto col-lg-6 my-md-3">
  <div class="card-body row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag "bellef_profile.jpg", alt: "François Belle", class: "rounded-circle", style: "width: 80%;" %>
      <div class="mt-3">
        <h2>François <span class="color-ruby">Belle</span></h2>
        <h3 class="text-secondary">Developpeur RoR</h3>
      </div>
    </div>

    <div class="col-12 col-md-8 m-auto py-3">
      <p>
        Développeur backend sur <strong class="color-ruby">Ruby on Rails</strong>, j'ai de l'expérience avec des APIs RESTful en JSON dans diverses entreprises en France et au Canada. Je suis aussi enseignant au Wagon coding bootcamp.
      </p>
      <p>
        J'aime créer des choses, apprendre des autres et partager mes expériences.
        Par créer j'entends bien sûr "virtuellement" avec des langages de programmation comme Ruby, Rails, React, etc. mais également "dans la vraie vie" avec du bois, des clous, des vis, de la colle, peu importe !
      </p>
      <p>
        Ma philosophie du code est de <mark>construire des choses robustes avec l'équipe</mark>, <mark>apprendre des autres</mark> et <mark>avancer ensemble</mark>.
      </p>
      <p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check"></i><strong>3 ans d'expérience</strong> avec <span class="color-ruby">Ruby</span>, <span class="color-ruby">Ruby on Rails</span>, et des APIs RESTful</li>
          <li><i class="fa-li fa fa-check"></i><strong>2 ans d'expérience</strong> avec les méthodes agiles (SCRUM)</li>
          <li><i class="fa-li fa fa-check"></i>CLI, Git, Rspec, CI</li>
          <li><i class="fa-li fa fa-check"></i>Revues techniques, pair programming</li>
          <li><i class="fa-li fa fa-check"></i>Fort esprit d'équipe</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<%= partial("partials/quotation_right", locals: { quotation: data.fr.quotations[:simplicity] }) %>

<!-- COMPANIES -->
<div class="card shadow mx-auto col-lg-6 my-md-3">
  <div class="card-body">
    <h4 class="card-title mb-0">Ils me font confiance</h4>

    <% data.fr.companies.each do |company| %>
    <hr>
    <div class="row my-3">
      <div class="col-md-2 text-center">
        <%= link_to(image_tag(company[:logo], alt: company[:name], class: "rounded mb-3 my-md-3", style: "width: 6em;"), company[:link]) %>
        <h4><%= link_to(company[:name], company[:link], class:"badge badge-light") %></h4>
      </div>
      <div class="col-md-10">
        <% company[:descriptions].each do |description| %>
        <p><%= description %></p>
        <% end %>
        <% if company[:recommendation] %>
          <a class="text-dark" data-toggle="collapse" href="#collapseReco" aria-expanded="false" aria-controls="collapseReco">
            <u><span class="font-italic"><%= company[:recommendation][:author] %> @<%= company[:name] %></span> me recommande</u>
          </a>

          <div class="collapse text-secondary" id="collapseReco">
            <%= company[:recommendation][:content] %>
          </div>
        </blockquote>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= partial("partials/quotation_left", locals: { quotation: data.fr.quotations[:humility] }) %>

<!-- SIDE PROJECTS -->
<div class="card shadow mx-auto col-lg-6 my-md-3">
  <div class="card-body">
    <h4 class="card-title mb-0">Side projects</h4>
    <% data.fr.side_projects.each do |side_project| %>
    <hr>
    <div class="row my-3">
      <div class="col-md-6 text-center">
        <%= partial("partials/carousel", locals: { pictures: side_project[:pictures], project_link: side_project[:link] }) %>
      </div>
      <div class="col-md-6">
        <h4 class="mt-3">
          <%= link_to(side_project[:title], side_project[:link]) %>
        </h4>

        <% side_project[:descriptions].each do |description| %>
        <p><%= description %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= partial("partials/quotation_right", locals: { quotation: data.fr.quotations[:passion] }) %>

<!-- SIDE PROJECTS -->
<div class="card shadow mx-auto col-lg-6 my-md-3">
  <div class="card-body">
    <h4 class="card-title mb-0">Projets personnels</h4>
    <hr>
    <% data.fr.imgur_galeries.each do |galery| %>
    <div class="row my-3">
      <div class="col-12 text-center">
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/<%= galery[:id] %>"><a href="//imgur.com/<%= galery[:id] %>"><%= galery[:title] %></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- Books / Movies -->
<!-- Hobbies -->
<!-- TODO: Add recommendations from Tilkee and other companies -->
